* {
	padding: 0;
	margin: 0;
}

.topbar {
	border-bottom: 2px solid #97455f;
}

.topbar-wrapper {
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}

.topbar-wrapper::after {
	clear: both;
	content: " ";
	display: table;
}

.social {
	float: left;
	margin: 10px 0;
}

.social li {
	list-style: none;
	float: left;
	padding-right: 10px;
}

.linkedin {
	background: #d2d2d2 url(../images/linkedin.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

.linkedin:hover {
	background-color: #0e76a8;
}


.twitter {
	background: #d2d2d2 url(../images/twitter.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

.twitter:hover {
	background-color: #00acee;
}

.pinterest {
	background: #d2d2d2 url(../images/pinterest.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

.pinterest:hover {
	background-color: #c8232c;
}

.google {
	background: #d2d2d2 url(../images/google.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

.google:hover {
	background-color: #db4a39;
}

.rss {
	background: #d2d2d2 url(../images/rss.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

.rss:hover {
	background-color: #ee802f;
}

.register {
	float: right;
	margin-top: 20px;
}

.register li {
	list-style: none;
	float: left;
}

.register li a {
	text-decoration: none;
	font-size: 12px;
	font-family: Georgia, sans-serif;
	color: #97455f;
	display: block;
	border-right: 1px solid #97455f;
	padding: 0 5px;
	
}

.register li a:hover {
	text-decoration: underline;
}

.register .last {
	border: none;
}

.button {
	background: url(../images/minys.png);
	display: block;
	height: 26px;
	position: absolute;
	right: 0;
	top: 52px;
	width: 30px;
}

/* HEADER */

.main {
	background: #ebebeb;
	padding-bottom: 70px;
}

.header-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 60px;
}

.header-wrapper::after {
	clear: both;
	content: "";
	display: table;
}



.logo {
	color: #333;
	float: left;
	font-family: Georgia, sans-serif;
	font-size: 26px;
	font-weight: normal;
	margin-right: 5px;
	text-decoration: none;

}

.slogan {
	border-left: 1px solid #999;
	color: #999;
	float: left;
	font-family: Georgia, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
}

#search {
	float: right;
	
}

.text {
	border-radius: 5px 0 0 5px;
	border: none;
	float: left;
	font-family: Georgia, sans-serif;
	outline: none;
	padding: 7px 0 6px 10px;
	width: 200px;
}

.text:focus {
	box-shadow: inset 1px 1px 10px #ccc;
}

.search-submit {
	background: #97455f;
	border-radius: 0 5px 5px 0;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Georgia, sans-serif;
	font-size: 12px;
	font-weight: normal;
	outline: none;
	padding: 7px;
}

/* NAVIGATION */

.menu {
	background: #97455f;
	border-radius: 5px 5px 0 0;
	margin: 50px auto 0;
	max-width: 960px;

}

.menu::after {
	clear: both;
	content: "";
	display: table;
}

.menu li {
	float: left;
	list-style: none;
}

.menu li a {
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 19px 15px;
	text-decoration: none;
}

.menu li a:hover {
	background: #6a3144;
}

.menu li:first-child a:hover {
	border-radius: 5px 0 0 0;
}

/* SLIDER */

