* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Georgia, sans-serif;
	line-height: 1.5;
}

/* TOP BAR */

.topbar {
	border-bottom: 2px solid #97455f;
}



.topbar-wrapper {
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}




.topbar-wrapper::after {
	clear: both;
	content: " ";
	display: table;
}

.social {
	float: left;
	margin: 10px 0;
}

@media (max-width: 460px){
	.social {
		margin-left: 11%;
	}
}

.social li {
	list-style: none;
	float: left;
	padding-right: 10px;
}

.linkedin {
	background: #d2d2d2 url(../images/linkedin.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

@media (max-width: 460px){
	.linkedin {
		height: 50px;
		width: 50px;
	}
}


.linkedin:hover {
	background-color: #0e76a8;
}

@media (max-width: 460px){
	.linkedin:hover {
		height: 50px;
		width: 50px;
	}
}

.twitter {
	background: #d2d2d2 url(../images/twitter.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

@media (max-width: 460px){
	.twitter {
		height: 50px;
		width: 50px;
	}
}

.twitter:hover {
	background-color: #00acee;
}

@media (max-width: 460px){
	.twitter:hover {
		height: 50px;
		width: 50px;
	}
}

.pinterest {
	background: #d2d2d2 url(../images/pinterest.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

@media (max-width: 460px){
	.pinterest {
		height: 50px;
		width: 50px;
	}
}

.pinterest:hover {
	background-color: #c8232c;
}

@media (max-width: 460px){
	.pinterest:hover {
		height: 50px;
		width: 50px;
	}
}

.google {
	background: #d2d2d2 url(../images/google.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

@media (max-width: 460px){
	.google {
		height: 50px;
		width: 50px;
	}
}

.google:hover {
	background-color: #db4a39;
}

@media (max-width: 460px){
	.google:hover {
		height: 50px;
		width: 50px;
	}
}

.rss {
	background: #d2d2d2 url(../images/rss.png) center no-repeat;
	border-radius: 50%;
	display: block;
	height: 32px;
	text-indent: -9999px; 
	width: 32px;
}

@media (max-width: 460px){
	.rss {
		height: 50px;
		width: 50px;
	}
}

.rss:hover {
	background-color: #ee802f;
}

@media (max-width: 460px){
	.rss:hover {
		height: 50px;
		width: 50px;
	}
}

.register {
	float: right;
	margin-top: 20px;
}

@media (max-width: 460px){
	.register {
		float: left;
		margin: 1% 0 3% 1%;
	}
}

.register li {
	list-style: none;
	float: left;
}

.register li a {
	text-decoration: none;
	font-size: 12px;
	color: #97455f;
	display: block;
	border-right: 1px solid #97455f;
	padding: 0 5px;
}

@media (max-width: 460px){
	.register li a {
		font-size: 19px;
		
	}
}

.register li a:hover {
	text-decoration: underline;
}

.register .last {
	border: none;
}

.button {
	background: url(../images/minys.png) #97455F center no-repeat ;
	border-radius: 0 0 5px 5px;
	display: block;
	height: 26px;
	position: absolute;
	right: 0;
	top: 52px;
	width: 30px;
}

@media (max-width: 460px){
	.button {
		border-radius: 0 0 10px 10px;
		height: 50px;
		right: 10px;
		top: 114px;
		width: 50px;
	}
}

.button:hover {
	background-image: url(../images/plus.png);
}

/* HEADER */

.main {
	background: #ebebeb;
	padding-bottom: 70px;
}

.main-header {
	background: #ebebeb;
}

.header-wrapper {
	margin: 0 auto;
	max-width: 960px;
	padding-top: 60px;
}

.header-wrapper::after {
	clear: both;
	content: "";
	display: table;
}

.logo {
	color: #333;
	float: left;
	font-size: 26px;
	font-weight: normal;
	margin-right: 5px;
	text-decoration: none;
}


@media (max-width: 460px){
	.logo{
		margin-left: 20%;
	}
}
.slogan {
	border-left: 1px solid #999;
	color: #999;
	float: left;
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
}


#search {
	float: right;
}

@media (max-width: 460px){
	#search {
		margin-right: 10%;
	}
}


.text {
	border-radius: 5px 0 0 5px;
	border: none;
	font-family: Georgia,sans-serif;
	float: left;
	outline: none;
	padding: 7px 0 6px 10px;
	width: 200px;
}

.text:focus {
	box-shadow: inset 1px 1px 10px #ccc;
}

.search-submit {
	background: #97455f;
	border-radius: 0 5px 5px 0;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Georgia,sans-serif;
	font-size: 12px;
	font-weight: normal;
	outline: none;
	padding: 7px;
}

/* NAVIGATION */

.nav {
	background: #97455f;
	border-radius: 5px 5px 0 0;
	margin: 50px auto 0;
	max-width: 960px;
	position: relative;
}

.nav::after,.nav::before {
	clear: both;
	content: "";
	display: table;
}

.dropdown {
	background: #97455f;
	border-radius: 0 0 5px 5px;
	color: #fff;
	display: none;
	font-family: Georgia, sans-serif;
	font-size: 12px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1;
}

.nav li:hover .dropdown{
	display: block;
}

.nav li {
	float: left;
	list-style: none;
}



.nav li a {
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 19px 15px;
	text-decoration: none;
}

.nav li a:hover {
	background: #6a3144;
}

.nav li:first-child a:hover {
	border-radius: 5px 0 0 0;
}


.nav li>.dropdown>li:first-child>a:hover {
	border-radius: 0 0  0 5px;
}

.nav li>.dropdown>li>a:hover {
	border-radius: 0px;
}

.nav li:hover .dropdown {
	display: block;
}
.nav li:first-child a:hover {
	border-radius: 5px 0 0 0;
}

/* SLIDER */

.slider {
	background-color: #fff;
	margin: 0 auto;
	max-width: 960px;
	position: relative;
	padding-top: 30px;
	right: 0;
	top:-70px;
}

.slider-wrapper {
	margin: 0 auto;
	max-width: 900px;
	position: relative;
}

.carousel-indicators {
	bottom: -40px;
	position: absolute;
	right: 400px;
	z-index: 112;
}

.carousel-indicators li {
	background-color: #333;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 1px;
	text-indent: -999px;
	width: 16px;
}

.carousel-indicators li:hover {
	background-color: #fff;
	border: 3px solid #333;
	height: 10px;
	width: 10px;
}

.carousel-indicators .active {
	background-color: #fff;
	border: 3px solid #333;
	height: 10px;
	width: 10px;
}

.carousel-caption{
	background-color: #adadad;
	bottom: 33px;
	box-sizing: border-box;
	color: #383838;
	font-size: 16px;
	padding: 5px 30px 10px;
	position: absolute;
	right: 10px;
	text-align: left;
	width: 50%;
}

.carousel-caption h2 {
	color: #383838;
	font-size: 36px;
	font-weight: normal;
}

.slider-item {
	display: none;
}

/* CONTETN */

.content {
	margin: 0 auto 50px;
	max-width: 960px;
}

.content-main {
	margin: 40px 0 60px 0;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 900px;
}

.content-main-wrapper {
	margin: 0 auto;
	max-width: 960px;
}

.content-main-wrapper:before,
.content-main-wrapper:after {
	clear: both;
	content: "";
	display: table;
}

aside {
	float: left;
	width: 17%;
}

.content-main-wrapper article {
	box-sizing: border-box;
	color: #999;
	float: left;
	font-size: 13px;
	padding: 0 30px 0 20px;
	width: 83%;
}

.content-main-wrapper article h1 {
	color: #333;
	font-size: 16px;

}

aside h2 {
	border-bottom: 2px solid #ebebeb;
	color: #333;
	font-size: 13px;
}

h3.border {
	color: #333;
	font-weight: normal;
	overflow: hidden;
	text-align: center;
}

.border:before,.border:after {
	background-clip: content-box;
	background: #ebebeb;
	border-bottom: 1px solid rgba(255,255,255,.5);
	content: "";
	display: inline-block;
	height: 5px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.border:before {    
	left: -10px;
	margin: 0 0 0 -50%;
}
.border:after {    
	left: 10px;
	margin: 0 -50% 0 0;
}

.services {
	box-sizing: border-box;
	color: #999;
	float: left;
	font-size: 13px;
	line-height: 1.5;
	margin-top: 45px;
	padding: 0 20px;
	width: 33%;
}



.services-wrapper:after,
.services-wrapper:before {
	clear: both;
	content: "";
	display: table;
}

.services p {
	margin-left: 74px;
}

.services-img {
	background-color: #353535;
	display: block;
	float: left;
	height: 64px;
	margin: 0 10px 9px 0;
	width: 64px;
}

 .services h4 {
	color: #97455f;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 5px;
}

.content-wrapper:after {
	clear: both;
	content: "";
	display: table;
}

/* LEFT COLUMN CONTENT */

.article-wrapper:after {
	clear: both;
	content: "";
	display: table;
}

.article {
	margin-top: 45px;
}

.article:before {
	clear: both;
	content: "";
	display: table;
}

.article-left {
	color: #999;
	float: left;
	font-size: 13px;
	line-height: 1.5;
	margin-right: 10px;
	margin-top: 45px;
	max-width: 440px;
}
.article-left-img {
	background-color: #333;
	border-radius: 50%;
	display: block;
	float: left;
	height: 128px;
	margin-right: 20px;
	width: 128px;
}

.article-left h3 {
	color: #333;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 45px;
	overflow: hidden;
	text-align: center;
}

.article-left h3:after,.article-left h3:before {
	background-clip: content-box;
	background: #ebebeb;
	border-bottom: 1px solid rgba(255,255,255,.5);
	content: "";
	display: inline-block;
	height: 5px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.article-left h3:before {    
	left: -10px;
	margin: 0 0 0 -50%;
}
.article-left h3:after {    
	left: 10px;
	margin: 0 -50% 0 0;
}

.article-left h4 {
	color: #333;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 10px;
}

.article-left a {
	color: #97455f;
	text-decoration: none;
}

.article-left a:hover {
	text-decoration: underline;
}

.read-more {
	display: block;
	margin-top: 15px;
}

.read-more img {
	padding: 0 0 1px 2px;
}

/* RIGHT COLUMN CONTETN */

.article-right {
	float: left;
	line-height: 1.5;
	margin-left: 10px;
	margin-top: 45px;
	max-width: 440px;
}
.article-right h3 {
	color: #333;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 45px;
	overflow: hidden;
	text-align: center;
}


.article-right h3:after,.article-right h3:before {
	background-clip: content-box;
	background: #ebebeb;
	border-bottom: 1px solid rgba(255,255,255,.5);
	content: "";
	display: inline-block;
	height: 5px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.article-right h3:before {    
	left: -10px;
	margin: 0 0 0 -50%;
}
.article-right h3:after {    
	left: 10px;
	margin: 0 -50% 0 0;
}

.article-right a {
	color: #97455f;
	font-size: 13px;
	text-decoration: none;
}

.article-right a:hover {
	text-decoration: underline;
}
.article-right a img {
	padding: 0 0 1px 2px;
}

.blockquote-author {
	color: #333;
	font-size: 16px;
	line-height: 1;
}

.blockquote-author:before {
	color: #d4d4d4;
	content: " “ ";
	display: block;
	float: left;
	font-size: 130px;
	height: 53px;
	margin: -14px 15px 0 0;
	width: 44px;
}

blockquote {
	color: #999;
	font-size: 13px;
}

/* BLOCK CONTACT US */

.contact-us {
	background: #97455f;
	border-radius: 5px;
	margin: 50px auto 0;
	max-width: 900px;
}

.contact-us:after {
	clear: both;
	content: "";
	display: table;
}

.contact-us-title {
	color: #e5e5e5;
	font-size: 36px;
}

.contact-us-content {
	color: #e5e5e5;
	float: left;
	font-size: 18px;
	padding: 13px 0 13px 30px;
}

button {
	background: white;
	border-radius: 5px;
	border: none;
	color: #97455f;
	cursor: pointer;
	float: right;
	font-size: 26px;
	margin: 20px 30px 20px 0;
	padding: 18px 6px;
}

button:focus {
	box-shadow: 2px 2px 15px #eee;
	outline: none;
}

/* FOOTER */

footer {
	background: #ebebeb;
}

footer h3 {
	font-size: 16px;
	color: #333;
	font-weight: normal;
	padding: 40px 0 20px 0;
}

.footer-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 40px
}

.footer-wrapper:after {
	clear: both;
	content: "";
	display: table;
}
.footer-left {
	max-width: 450px;
	float: left;
}

.footer {
	color: #999;
	margin-bottom: 30px;
	font-size: 12px;
}

.footer-img {
	background: #333;
	display: block;
	float: left;
	height: 95px;
	width: 95px;
	border: 3px solid #d2d2d2;
	margin: 0 20px 0 0;
}

.footer-article-title {
	color: #97455f;
	font-size: 16px;
	padding: 5px 0 10px 0;
}

.footer-center {
	float: left;
	max-width: 250px;
  	padding-left:  30px;
}
address {
	color: #999;
	font-size: 12px;
}

address a {
	color: #97455f;
	text-decoration: none;
}

address a:hover {
	text-decoration: underline;
}

.contact-details {
	margin: 20px 0;
}

.footer-center h5 {
	color: #999;
	font-size: 12px;
	font-weight: bold;
}

.footer-center p {
	color: #999;
	font-size: 12px;
}

.footer-right {
	float: right;
	max-width: 225px;
}
 
.form-contact-text {
	background: #fff;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	color: #989898;
	font-family: Georgia, sans-serif;
	font-size: 13px;
	margin-bottom: 10px;
	outline: none;
	padding: 8px 10px;
	width: 225px;
}

input[type=text]:focus {
	box-shadow: 1px 1px 10px #999;
}

textarea {
	background: #fff;
	border-radius: 5px;
	border: none;
	color: #989898;
	font-family: Georgia, sans-serif;
	font-size: 13px;
	margin-bottom: 10px;
	outline: none;
	overflow: hidden;
	padding: 8px 10px;
	resize: none;
	width: 206px;
}

.form-contact-submit{
	background: #97455f;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Georgia, sans-serif;
	font-size: 13px;
	outline: none;
	padding: 7px 10px;
	text-transform: uppercase;
}

.copyright {
	border-top: 1px solid #bcbcbc;
}


.copyright-wrapper {
	color: #999;
	font-size: 12px;
	margin: 0 auto;
	max-width: 960px;
	padding: 25px 0;
}

.copyright-wrapper:before,
.copyright-wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}